<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <div id="app">
        <input type="text" v-model="value"> 
        {{value}}
        <hr>
        <textarea name="" id="" cols="30" rows="3" v-model="msg">初始化</textarea>
        {{msg}}
        <hr>
        单选框
        <input type="radio" :checked="oneradio">
        <input type="radio" :checked="oneradio">
        <hr>
        多个单选框 <br>
        1.<input type="radio" name="checks" value="1" v-model="checkname"> <br>
        2.<input type="radio" name="checks" value="2" v-model="checkname"> <br>
        3.<input type="radio" name="checks" value="3" v-model="checkname"> <br>
        选中☑️{{checkname}}
        <hr>
        单个复选框 <br>
        <input type="checkbox" name="" :checked="oneradio" id=""> <br>
        <input type="checkbox" name="" v-model="oneradio" id="">
        <hr>
        多个复选框 <br>
        1<input type="checkbox" value="1" v-model="checks"> <br>
        2<input type="checkbox" value="2" v-model="checks"> <br>
        3<input type="checkbox" value="3" v-model="checks"> <br>
        {{checks}}
        <hr>
        下拉框  <br>
        单选 <br>
        <select v-model="selected">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        {{selected}}
        <hr>
        <select v-model="selectedmul" multiple>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
        </select>
        {{selectedmul}}
        <hr>
        <hr>
        <hr>
        <input type="text" v-model="str"> {{str}} <br>
        <input type="text" v-model.lazy="lazystr"> {{lazystr}} <br>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                value:'',
                msg:'',
                oneradio:true,
                checkname:'2',
                checks:[],
                selected:'',
                selectedmul:'',
                str:'',
                lazystr:''
            }
        })
    </script>
</body>
</html>