<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <div id="app">
        v-for用法 <br>
        1 遍历多个对象 <br>
        <ul>
            <li v-for="vueMth in vueMethods">{{vueMth.name}}</li>
        </ul>
        <hr>
        2 带索引的写法
        <ul>
            <li v-for="(vueMth,index) in vueMethods">{{index+1}}---{{vueMth.name}}</li>
        </ul>
        
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                vueMethods:[
                    {name: 'demo1'},
                    {name: 'demo2'},
                    {name: 'demo3'}
                ]
            }
        })
    </script>
</body>
</html>